@import "bootstrap.less";
@import "variables.less";

a {
  border-bottom: 1px solid lighten(@link-color, 40%);
}
header {
  background: url(../images/bg.jpg) no-repeat center top;
  background-size: cover;
  color: #fff;
  padding: 20px 0 25px;
}

nav {
  ul {
    li {
      margin-bottom: 8px;
      a {
        color: #fff;
        border-bottom-color: #8b8788;
        font-size: 14px;
      }
      a.btn {
        font-size: 14px;
      }
    }
  }
}

.inner-content {
  border-top: 1px solid #acd7f4;
  padding-top: 30px;
  h1 {
    color:#c51959;
    margin-bottom: 40px;
    font-size: 44px;
    a {
      font-size: 22px;
    }
  }
}

.vk_like2 {
  padding-top: 10px;
}

.header_inner {
  background: none;
  padding-bottom:30px;
  ul.page-menu {
    li {
      a {
        color: #1879bc;
        border-bottom-color: #acd7f4;
      }
      a:hover {
        color: #0f4d78;
        border-bottom-color: #1879bc;
      }
    }
  }
  .logo {
    text-align: left;
    margin:0;
    a {
      width: auto;
      height: auto;
      margin: 0;
    }
  }
  .header-title {
    color:#077ec1;
    text-align: left;
  }
}
@media (min-width: 480px){
  .header_inner {
    .header-title {
      padding-top: 20px;
    }
  }
}
.gallery-item {
  margin-bottom: 20px;
}
.page-menu {
  li {
    a {
      &:hover, &:focus {
        color: #fff;
        border-bottom-color: #8b8788;
      }
    }
  }
}
.ohota-menu {
  text-align: right;
}
@media (min-width: @screen-sm-min){
  nav {
    ul {
      li {
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}
@media (min-width: @screen-lg-min){
  .page-menu {
    li {
      margin-right: 25px;
      a {
        font-size: 22px;
      }
    }
  }
  .ohota-menu {
    li {
       a.btn {
         font-size: 18px;
       }
    }
  }
}
.logo {
  margin: 50px 0 10px;
  a {
    display: block;
    width: 100px;
    height: 100px;
    border: none;
    margin: 0 auto;
  }
}
.header-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
header {
  hr {
    width: 96px;
  }
}
.header-text {
  font-size: 14px;
  line-height: 1.8;
  text-align: center;
  a {
    color: #fff;
  }
}
.stat {
  color: #f09e22;
  margin-top: 50px;
}
.stat-title {
  font-size: 16px;
  margin-bottom: 0;
}
.stat-info {
  font-size: 42px;
  font-weight: 700;
}
@media (min-width: @screen-sm-min){
  header {
    padding-bottom: 80px;
  }
  .logo {
    a {
      width: 120px;
      height: 120px;
    }
  }
  .header-title {
    font-size: 38px;
  }
  .header-text {
    font-size: 18px;
  }
  .stat {
    margin-top: 80px;
  }
  .stat-title {
    font-size: 17px;
    height: 51px;
  }
  .stat-info {
    font-size: 44px;
  }
}
@media (min-width: @screen-lg-min){
  .logo {
    margin: 70px 0 0;
    a {
      width: 159px;
      height: 159px;
    }
  }
  .header-title {
    font-size: 70px;
  }
  .header-text {
    font-size: 26px;
    line-height: 1.35;
  }
  .stat {
    margin-top: 100px;
  }
  .stat-title {
    font-size: 18px;
    height: auto;
  }
  .stat-info {
    font-size: 50px;
  }
}
section {
  h2 {
    text-align: center;
    font-weight: 700;
  }
  img {
    .img-responsive;
  }
}
.winner {
  padding: 60px 0;
  h2 {
    color: @brand-success;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
}
.winner-group {
  border-bottom: 2px solid #cecece;
  margin-bottom: 30px;
  &:last-child {
    border-bottom: none;
  }
  h3 {
    color: @brand-success;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
.winner-item {
  margin-bottom: 30px;
}
.winner-img {
  margin-bottom: 20px;
}
.winner-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: 5px;
}
.winner-wedd-date {
  color: #575756;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 25px;
}
.winner-info {
  ul {
    .list-unstyled;
  }
}
@media (min-width: @screen-sm-min) {
  .winner {
    padding: 90px 0 60px;
    h2 {
      font-size: 32px;
    }
  }
  .winner-group {
    h3 {
      font-size: 24px;
    }
  }
  .winner-name {
    font-size: 30px;
  }
  .winner-group {
    margin-bottom: 50px;
  }
  .winner-item {
    margin-bottom: 50px;
  }
}
@media (min-width: @screen-lg-min) {
  .winner {
    padding: 90px 0;
    h2 {
      font-size: 46px;
    }
  }
}
.foto {
  background: url(../images/bg2.jpg) no-repeat center top;
  background-size: cover;
  color: #fff;
  padding: 65px 0 95px;
  text-align: center;
  img {
    margin: 0 auto;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    line-height: 1.5;
    margin-bottom: 40px;
    span {
      font-size: 14px;
    }
  }
  button {
    width: 90%;
    max-width: 400px;
    font-size: 18px;
  }
}
.foto-img {
  margin-bottom: 40px;
}
@media (min-width: @screen-sm-min) {
  .foto {
    padding: 100px 0 115px;
    h2 {
      font-size: 30px;
      margin-bottom: 70px;
    }
    button {
      font-size: 22px;
    }
  }
  .foto-img {
    margin-bottom: 70px;
  }
}
@media (min-width: @screen-lg-min) {
  .foto {
    h2 {
      font-size: 46px;
    }
  }
}
.ohota2016 {
  padding: 65px 0;
  text-align: center;
  border-bottom: 1px solid #cecece;
  h2 {
    color: #df6c1c;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 40px;
  }
  p {
    font-size: 14px;
    line-height: 1.8;
  }
  button {
    font-size: 18px;
    margin-top: 20px;
    width: 90%;
    max-width: 400px;
  }
}
@media (min-width: @screen-sm-min) {
  .ohota2016 {
    padding: 100px 0;
    h2 {
      font-size: 30px;
      margin-bottom: 65px;
    }
    p {
      font-size: 18px;
    }
    button {
      font-size: 22px;
      margin-top: 65px;
    }
  }
}
@media (min-width: @screen-lg-min) {
  .ohota2016 {
    h2 {
      font-size: 46px;
    }
  }
}
.partner {
  padding: 40px 0;
  border-bottom: 1px solid #cecece;
  h2 {
    color: @brand-primary;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 40px;
  }
}
.partner-list {
  position: relative;
  width: 100%;
}
.partner-slider {
  margin: 0 auto;
  ul {
    .list-unstyled;
    li {
      width: 210px;
      margin: 0 20px;
    }
  }
}
.slider-partner-item {
  div, p {
    text-align: center;
  }
}
.partner-img {
  margin-bottom: 30px;
}
.partner-name {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.partner-type {
  font-size: 14px;
  margin-bottom: 30px;
}
.slider-control {
  border: none;
  width: 25px;
  height: 48px;
  position: absolute;
  top: 50%;
  margin-top: -24px;
  z-index: 3;
}
.partner-prev {
  background: url(../images/prev.png) no-repeat;
  left: 0;
}
.partner-next {
  background: url(../images/next.png) no-repeat;
  right: 0;
}
@media (min-width: @screen-sm-min) {
  .partner {
    padding: 65px 0;
    h2 {
      font-size: 30px;
      margin-bottom: 65px;
    }
  }
  .partner-slider {
    ul {
      li {
        width: 320px;
      }
    }
  }
}
@media (min-width: @screen-lg-min) {
  .partner {
    h2 {
      font-size: 46px;
    }
  }
}
.sponsor {
  padding: 40px 0;
  border-bottom: 1px solid #cecece;
  h2 {
    color: @brand-primary;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5;
    margin-bottom: 40px;
  }
}
.sponsor-item {
  margin-bottom: 40px;
}
.sponsor-img {
  margin-bottom: 20px;
}
.sponsor-name {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: 30px;
}
.sponsor-type {
  color: #575756;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 20px;
}
@media (min-width: @screen-sm-min) {
  .sponsor {
    padding: 65px 0;
    h2 {
      font-size: 30px;
      margin-bottom: 65px;
    }
  }
}
@media (min-width: @screen-lg-min) {
  .sponsor {
    h2 {
      font-size: 46px;
    }
  }
}

@media (max-width: @screen-xs-max){
  #vk_comments, #vk_comments iframe, #vk_like, #vk_like iframe {
    width: 100% !important;
  }
}

footer {
  padding: 30px 0;
}
.footer-links {
  a {
    color: #575756;
    border-bottom-color: lighten(#575756, 30%);
    font-size: 14px;
  }
}
.share {
  margin-bottom: 20px;
}
.b-share {
  a {
    border: none;
  }
  a.b-share__handle:hover {
    span.b-share__text {
      color: @brand-primary;
      text-decoration: none;
    }
  }
}
.partner-item {
  margin-bottom: 40px;
}
@media (min-width: @screen-sm-min) {
  .partner-item {
    height: 241px;
  }
}